.wrapper{
    width: 420px;
    background: rgba(24, 23, 23, 0.5);
    border:2px solid rgba(14, 36, 109, 0.2);
    box-shadow:  0 15px 25px rgba(0,0,0,.6);
    backdrop-filter: blur(20px);
    color: rgb(244, 245, 248);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    color: rgb(133, 193, 248);
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    margin:30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    border: 2px solid rgba(133, 193, 248, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: rgba(133, 193, 248);
    padding: 20px 45px 20px 20px ;
    
}

.input-box input::placeholder{
    color: rgb(133, 193, 248);
}

.input-box .icon{
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 16px;
}


.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px; 
}
.remember-forgot label input{
    accent-color: white;
    margin-right: 4px;
}

.remember-forgot a{
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover{
    text-decoration: underline;
}


.wrapper button{
    width: 100%;
    height: 45px;
    background: rgb(133, 193, 248);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(88, 86, 86, 0.1);
    cursor: pointer;
    font-size: 16px;
    color:rgb(95, 91, 91);
    font-weight: 700;
}
.wrapper button:hover{
    box-shadow: 0 0 10px rgba(105, 183, 255,1);
}

.wrapper .register-link{
    font-size: 14px;
    text-align: center;
    margin : 20px 0 15px;
}

.register-link p a{
    color: rgb(133, 193, 248);
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    text-decoration: underline;
}


